server {
    listen {{ http_port }} {{ 'default_server' if main_server }};
    listen [::]:{{http_port}} {{ 'default_server' if main_server }};
    server_name {{ nginx_host }};

    location / {
        root /var/www/{{domain}};
        index index.html;
    }

    location /hls {
        types {
            application/vnd.apple.mpegurl m3u8;
            video/mp2t ts;
        }
        root /tmp;
    }
}