load_module /usr/lib/nginx/modules/ngx_rtmp_module.so;

user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
	worker_connections 768;
	# multi_accept on;
}

http {

	##
	# Basic Settings
	##

	sendfile on;
	tcp_nopush on;
	types_hash_max_size 2048;
	# server_tokens off;

	# server_names_hash_bucket_size 64;
	# server_name_in_redirect off;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	##
	# SSL Settings
	##

	ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3; # Dropping SSLv3, ref: POODLE
	ssl_prefer_server_ciphers on;

	##
	# Logging Settings
	##

	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;

	##
	# Gzip Settings
	##

	gzip on;

	# gzip_vary on;
	# gzip_proxied any;
	# gzip_comp_level 6;
	# gzip_buffers 16 8k;
	# gzip_http_version 1.1;
	# gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

	##
	# Virtual Host Configs
	##

	# include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/sites-enabled/*;

    # server {
    #     listen {{ http_port }};
    #     server_name {{ nginx_host }};

    #     location / {
    #         root /var/www/{{domain}};
    #         index index.html;
    #     }

    #     location /hls {
    #         types {
    #             application/vnd.apple.mpegurl m3u8;
    #             video/mp2t ts;
    #         }
    #         root /tmp;
    #     }
    # }
}

rtmp {
    # include /etc/nginx/conf.d/rtmp;
    server {
        listen 1935;
        chunk_size 4096;
        allow publish all;

        application hls {
            live on;
            record off;

            hls on;
            hls_path /tmp/hls;
            hls_fragment 5;
        }
    }
}