load_module /usr/lib/nginx/modules/ngx_rtmp_module.so;

user root;
worker_processes auto;

error_log /var/log/nginx/error.log notice;
pid /var/run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    include /etc/nginx/sites-enabled/http;
}

rtmp {
    include /etc/nginx/sites-enabled/rtmp;
}